.homeContent {
  padding: 20px;
}

.topBar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
