.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2196f3;
  color: white;
  padding: 10px 20px;
}

.hamburger {
  font-size: 20px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
}

.logoutBtn {
  background: white;
  color: #2196f3;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: inline;
  }
}
