.register-container {
  min-height: 100vh;
  display: flex;
}

.register-form-side {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.register-card {
  width: 100%;
  max-width: 450px;
  border-radius: 26px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}


